

{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Login - Sistema de Apoio ao Refugiado</title>
    
    <link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">
    
</head>
<body>
    <div class="body-login">
    <div class="login-container">
        <h1 class="titulo-principal">Sistema de Apoio ao Refugiado</h1>
        
        <p class="subtitulo">Acesse sua conta com seu telefone e senha</p>

        <form method="post" class="login-form" >
        {% csrf_token %}    
            
            <div class="campo-grupo">
                <label for="telefone">Número de Telefone</label>
                <input 
                    type="tel" 
                    id="telefone" 
                    placeholder="+XX DDD XXXXX-XXXX" 
                    required
                >
            </div>

            <div class="campo-grupo">
                <label for="senha">Senha</label>
                <input 
                    type="password" 
                    id="senha" 
                    placeholder="Sua senha" 
                    required
                >
            </div>
            
            <div class="link-esqueci">
                <a href="#">Esqueceu a Senha?</a>
            </div>

            <button type="submit" class="btn-entrar">Entrar</button>
        </form>

        <div class="link-cadastro">
     
    <a href="{% url 'usuarios:cadastro' %}">Crie seu cadastro aqui</a>
</div>
</body>
</html>